/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 15px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 6rem;
  font-family: times;
  line-height: 1.5;
}
h1{
  color:pink
}

/* images and videos max out at full width */
<img 

  height: auto;
  max-width: 100%;
}
